@tailwind base;
@tailwind components;
@tailwind utilities;                                                                       

@layer utilities {
  @keyframes ringing {
    0% { transform: rotate(0); }
    8% { transform: rotate(-15deg); }
    16% { transform: rotate(15deg); }
    24% { transform: rotate(-15deg); }
    32% { transform: rotate(15deg); }
    40% { transform: rotate(0); }
    100% {transform: rotate(0);}
    /* The ringing animation happens within the first 20% of the total time */
  }
  
  .animate-ringing {
    animation: ringing 1.5s infinite; /* 0.5s for ringing, 2s pause */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global font settings */
h1 {
  font-size: 42px;
  font-weight: bold;
  font-family: var(--font-playfair-display), serif;
}

h2, h3, h4, caption {
  font-family: var(--font-lato), sans-serif;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}

body, p, blockquote {
  font-family: var(--font-libre-baskerville), serif;
}

blockquote {
  font-style: italic;
}